@media screen and (min-width: 767px) and (max-width:1024px){
.datos{
    display: inline-block;
    justify-content: center;
    text-align: center;
    
    margin-top: 50px;
    font-size: x-large;
    margin-left: 540px;
    padding: 40px;
    background-color: rgb(150, 152, 153);
    border-radius: 05px;
    /*border-bottom: 20px solid rgb(190, 115, 130);*/
}

.datosR{
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    margin-left: 450px;
    margin-bottom: 50px;
    padding: 40px;
    background-color: rgb(150, 152, 153);
    border-radius: 05px;
    /*border-bottom: 40px solid rgb(190, 115, 130);*/
}

.datosC{
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: x-large;
    margin-left: 497px;
    padding: 40px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    /*background-image: url(../Multimedia/istockphoto-508459346-612x612.jpg);
    background-size: cover;
    background-color: rgb(150, 152, 153);*/
    border-radius: 05px;
}
}