/*@media screen and (min-width: 767px) and (max-width:1024px){*/
.diseño{
    font-family: $primaryFont;
    background-color: map-get($estilos, colorFondo )
}

.diseñoC{
    font-family: $primaryFont;
    background-image: url(../Multimedia/istockphoto-508459346-612x612.jpg);
    background-size: 50px 50px;
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tiendas{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.sedes{
    list-style: none;
    text-align: end;
}

.ubi1{
    justify-content: left;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
}

.ubi2{
    justify-content: left;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
}

.ubi3{
    justify-content: left;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
}
