%botones{
    margin-left: 149px;
  border: solid 2px;
  padding: 5px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

%displayMain{
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

%displayH{
    grid-area: header;
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 10px;
}