footer{
    color: $primaryColor;
    grid-area: footer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10px;
    background-image: $backgroundColor;
}