@media screen and (min-width: 767px) and (max-width:1024px){
header{
    @extend %displayH;
    div{
        a{
        color: $primaryColor;
        font-weight: bold;
        background-color: $backgroundColor;
        }
    }
}

.indexHeader{
    &:hover{
        background-color: $hoverColor;
    }
}
}