header{
    @extend %displayH;
    div{
        a{
        color: $primaryColor;
        font-weight: bold;
        }
            &:hover{
                background-color: $hoverColor;
            }
    }
}