/*@media screen and (min-width: 767px) and (max-width:1024px){*/

.menuDiseño{
    background-color: $backgroundColor;
}
.panaderia{
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

.desayunos{
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

.pasteleria{
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

.antojos{
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    animation-duration: 3s;
    animation-name: slidein;
}
