@charset "UTF-8";
@media screen and (min-width: 767px) and (max-width: 1024px) {
  img {
    width: 100%;
  }
  .login {
    height: 1000px;
    width: 100%;
    background: #f2eee3;
    position: relative;
  }
  .login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px rgba(0, 0, 0, 0.2666666667);
    display: flex;
    overflow: hidden;
  }
  .login_box .left {
    width: 41%;
    height: 100%;
    padding: 25px 25px;
  }
  .login_box .right {
    width: 59%;
    height: 100%;
  }
  .left .top_link a {
    color: #452A5A;
    font-weight: 400;
  }
  .left .top_link {
    height: 20px;
  }
  .left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
  }
  .left h3 {
    text-align: center;
    margin-bottom: 40px;
  }
  .left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid rgba(79, 48, 103, 0.4901960784);
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
  }
  .left {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
  }
  .submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 9px 15px -11px rgb(88, 54, 114);
  }
  .right {
    background: url(/SASS/Multimedia/login.png);
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    background-size: 200px 100px;
  }
  .right .right-text {
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
  }
  .right-text h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
  .right-text h5 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
  }
  .right .right-inductor {
    position: absolute;
    width: 70px;
    height: 7px;
    background: rgba(255, 255, 255, 0);
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
  }
  .top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  img {
    width: 100%;
  }
  .login {
    height: 1000px;
    width: 100%;
    background: #f2eee3;
    position: relative;
  }
  .login_box {
    width: 1050px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px rgba(0, 0, 0, 0.2666666667);
    display: flex;
    overflow: hidden;
  }
  .login_box .left {
    width: 41%;
    height: 100%;
    padding: 25px 25px;
  }
  .login_box .right {
    width: 59%;
    height: 100%;
  }
  .left .top_link a {
    color: #452A5A;
    font-weight: 400;
  }
  .left .top_link {
    height: 20px;
  }
  .left .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
  }
  .left h3 {
    text-align: center;
    margin-bottom: 40px;
  }
  .left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid rgba(79, 48, 103, 0.4901960784);
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
  }
  .left {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
  }
  .submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 50px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 9px 15px -11px rgb(88, 54, 114);
  }
  .right {
    background: url(/SASS/Multimedia/login.png);
    color: #fff;
    height: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .right .right-text {
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
  }
  .right-text h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
  .right-text h5 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
  }
  .right .right-inductor {
    position: absolute;
    width: 70px;
    height: 7px;
    background: rgba(255, 255, 255, 0);
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
  }
  .top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  header div a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: linear-gradient(100deg, #ffe8ff 0, #eecfff 25%, #c8b5f2 50%, #a59bca 75%, #8682a4 100%);
  }
  .indexHeader:hover {
    background-color: rgba(128, 61, 204, 0.356);
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  main {
    grid-area: main;
  }
  main nav {
    display: inline-block;
  }
  main nav ul {
    margin-top: 50px;
    list-style: none;
    text-align: end;
  }
  main nav ul li a {
    margin-left: 149px;
    border: solid 2px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  main nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.486);
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  footer {
    margin-top: 30px;
    justify-content: center;
    color: rgb(0, 0, 0);
    grid-area: footer;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-bottom: 10px;
    background-image: linear-gradient(100deg, #ffe8ff 0, #eecfff 25%, #c8b5f2 50%, #a59bca 75%, #8682a4 100%);
  }
  .footerC {
    margin-top: 5px;
    justify-content: center;
    color: rgb(0, 0, 0);
    grid-area: footer;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-bottom: 10px;
    background-image: linear-gradient(100deg, #ffe8ff 0, #eecfff 25%, #c8b5f2 50%, #a59bca 75%, #8682a4 100%);
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .buttonNav {
    margin-left: 149px;
    border: solid 2px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  main nav ul li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
  }
  .navAbo nav ul li {
    display: inline-block;
    font-weight: bold;
  }
  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 10px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .submit {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(248, 248, 252);
    background-color: rgb(115, 115, 219);
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .diseño {
    font-family: "Delmon";
    background-color: linear-gradient(100deg, #ffe8ff 0, #eecfff 25%, #c8b5f2 50%, #a59bca 75%, #8682a4 100%);
  }
  .diseñoC {
    font-family: "Delmon";
    background-image: url(../Multimedia/istockphoto-508459346-612x612.jpg);
    background-size: 50px 50px;
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .tiendas {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }
  .sedes {
    list-style: none;
    text-align: end;
  }
  .ubi1 {
    justify-content: left;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
  }
  .ubi2 {
    justify-content: left;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
  }
  .ubi3 {
    justify-content: left;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
    /*border-bottom: map-get($estilos, colorFondo );*/
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .datos {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    margin-left: 540px;
    padding: 40px;
    background-color: rgb(150, 152, 153);
    border-radius: 5px;
    /*border-bottom: 20px solid rgb(190, 115, 130);*/
  }
  .datosR {
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    margin-left: 450px;
    margin-bottom: 50px;
    padding: 40px;
    background-color: rgb(150, 152, 153);
    border-radius: 5px;
    /*border-bottom: 40px solid rgb(190, 115, 130);*/
  }
  .datosC {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: x-large;
    margin-left: 497px;
    padding: 40px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    /*background-image: url(../Multimedia/istockphoto-508459346-612x612.jpg);
    background-size: cover;
    background-color: rgb(150, 152, 153);*/
    border-radius: 5px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .navAbo {
    grid-area: main;
  }
  .navAbo nav {
    display: inline-block;
  }
  .navAbo nav ul {
    list-style: none;
    /*text-align: end;*/
  }
  .navAbo nav ul li a {
    margin-top: 50px;
    margin-left: 120px;
    border: solid 2px;
    padding: 5px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  .navAbo nav ul li a:hover {
    background-color: rgba(128, 61, 204, 0.356);
  }
  .item1 {
    justify-content: left;
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .item2 {
    justify-content: right;
    text-align: right;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .item3 {
    justify-content: left;
    text-align: left;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .colaborador1 {
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  .colaborador2 {
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  .colaborador3 {
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  .colaborador4 {
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .menuDiseño {
    background-color: linear-gradient(100deg, #ffe8ff 0, #eecfff 25%, #c8b5f2 50%, #a59bca 75%, #8682a4 100%);
  }
  .panaderia {
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  .desayunos {
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  .pasteleria {
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  .antojos {
    float: left;
    justify-content: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.cuerpo {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 150px 600px 50px;
  font-family: "Delmon";
  background-image: linear-gradient(100deg, #ffe8ff 0, #eecfff 25%, #c8b5f2 50%, #a59bca 75%, #8682a4 100%);
}

.logo {
  height: 180px;
  width: auto;
  margin-left: 10px;
  margin-top: 40px;
  margin-right: 10px;
  border-radius: 150px;
}

.contenedor {
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-item {
  display: block;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
}

.title {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.contacto {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}

@media (min-width: 425px) {
  .cuerpoC {
    display: grid;
    grid-template-areas: "diseñoC" "contacto";
    grid-template-columns: 100%;
    grid-template-rows: 100% 259px;
  }
}/*# sourceMappingURL=styles.css.map */