@import "./partials/logIn","./partials/registro","./partials/variables", "./partials/header",
 "./partials/main","./partials/footer", "./partials/extends","./partials/mixins","./partials/maps",
 "./partials/buttons","./partials/diseñoT","./partials/datos","./partials/about","./partials/menu";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.cuerpo{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 150px 600px 50px;
    font-family: $primaryFont;
    background-image: $backgroundColor;
}

    
.logo{
    height: 180px;
    width: auto;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 200px;
}

.contenedor{
    display: flex;
    justify-content: center;
    position: relative;
}

.dropdown-item{
    display: block;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}

.title{    
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.contacto{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    color: $primaryColor;
}

@media (min-width: 425px){
.cuerpoC{
    display: grid;
    grid-template-areas: "diseñoC"
                         "contacto";
    grid-template-columns: 100%;
    grid-template-rows: 100% 259px;
}
}

